<app-header-component [showCart]="false"></app-header-component>
<div>
    <h2 *ngIf="cartItems.length > 0" class="m-3">Your Bag</h2>
    <h2 *ngIf="cartItems.length <= 0" class="m-3">Your Bag is Empty</h2>
    <div class="m-3">
        <div class="row">
            <div class="col-md-4" *ngFor="let item of cartItems">
                <div class="card my-2" style="height: auto">

                    <img [src]="item.image" class="card-img-top" alt="{{ item.title }}" style="height: 200px;">
                    <div class="card-body">
                        <span class="d-flex justify-content-between align-items-center">
                            <p class="card-text">Price: $ {{ item.price }}</p>
                        </span>
                        <h5 class="card-title" style="height: 50px; overflow: auto;">{{ item.title }}</h5>
                        <p class="card-text" ngSlimScroll style="height: 100px; overflow: overlay;">{{ item.description
                            }}</p>
                        <!-- <p>No. quantity {{ item.quantity }}</p> -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <button class="btn btn-secondary" (click)="decreaseQuantity(item)">-</button>
                                    <span class="mx-2">{{ item.quantity }}</span>
                                    <button class="btn btn-secondary" (click)="increaseQuantity(item)">+</button>
                                </div>
                            </div>
                            <div class="col-md-8 text-end">
                                <button class="btn btn-danger" (click)="removeFromCart(item)">Remove</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div>

        </div>
    </div>
</div>

<div>
    <div class="m-3" *ngIf="cartItems.length >0">
        <button class="btn btn-primary" routerLink="/payment">Place Order</button>
    </div>

</div>